* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
body {
    font-size : 100%;   
}
[class*="c_"] {
    float: left;
    padding: 10px;
}
/* 너비가 600픽셀 미만인 스마트폰을 위한 기본 설정 */
[class*="c_"] {
    width: 100%;
}
/* 너비가 600픽셀 이상인 태블릿을 위한 설정 */
@media only screen and (min-width: 600px) {
    .c_m_1 {width: 8.33%;}
    .c_m_2 {width: 16.66%;}
    .c_m_3 {width: 25%;}
    .c_m_4 {width: 33.33%;}
    .c_m_5 {width: 41.66%;}
    .c_m_6 {width: 50%;}
    .c_m_7 {width: 58.33%;}
    .c_m_8 {width: 66.66%;}
    .c_m_9 {width: 75%;}
    .c_m_10 {width: 83.33%;}
    .c_m_11 {width: 91.66%;}
    .c_m_12 {width: 100%;}
}
/* 너비가 768픽셀 이상인 데스크톱 컴퓨터, 노트북 등 */
@media only screen and (min-width: 768px) {
    .c_1 {width: 8.33%; }
    .c_2 {width: 16.66%; }
    .c_3 {width: 25%; }
    .c_4 {width: 33.33%; }
    .c_5 {width: 45%; }
    .c_6 {width: 50%; }
    .c_7 {width: 55%; }
    .c_8 {width: 66.66%; }
    .c_9 {width: 75%; }
    .c_10 {width: 83.33%; }
    .c_11 {width: 91.66%; }
    .c_12 {width: 100%; }
    aside {
        text-align: right;
    }
    aside .img_m .img img {
        width: 50%; /* 이미지 너비 조정 */
    }
}
a:link{
	color:black;
    text-decoration: none;
}
a:visited {
	color:black;
    text-decoration: none;
}
a:hover {
	color:black;
	text-decoration: none;
}
a:active{
	color:black;
	text-decoration: none;	
}

header {
    height: 150px;
    margin: 2px;
    text-align: center;
}
header #logo {
    margin: 0 auto;
}
.search-txt {
    height: 35px;
    width: 400px; 
    font-size: 16px;
    margin-right: 10px;
    padding: 0 10px;
}
.search-btn {
    height: 35px;
    width: 100px; 
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border: none;
}

aside {
}
/* 기본 설정: 768px 미만일 때 */
aside li {
    text-align: center; /* 기본적으로 가운데 정렬 */
}

/* 기본 설정: 768px 미만일 때 */
aside li.img {
    text-align: center; /* 기본적으로 가운데 정렬 */
}

/* 너비가 768픽셀 이상인 경우 */
@media only screen and (min-width: 768px) {
    aside li.img {
        text-align: right; /* 768px 이상일 때 오른쪽 정렬 */
    }
}
aside img {
    width: 50%; /* 또는 원하는 비율 */
}


section {
    
}
section #category {
    font-size:16px;
    margin-bottom:20px;
}
section #prd-name {
    font-size:26px;
    padding-bottom:5px;
}
section #price {
    font-size:28px;
    padding-bottom:10px;
    
}
section #price hr {
    margin-top:30px;
}
section #price-avg {
    font-size:22px;
    padding-top:10px;
}
section #price-avg p {
    padding-bottom:5px;
}
section #price-avg hr {
    margin-top:25px;
}
section #button {
    text-align:left;
    margin-top:30px;
}
section #call {
    font-size:16px;
    text-align:center;
    width:49%;
    height:40px;
    border:solid 2px #DC3936;
    border-radius:3px;
    display:inline-block;
    background-color:#ffffff;

}
section #musinsa-link {
    font-size:16px;
    text-align:center;
    width:49%;
    height:40px;
    border:solid 2px #DC3936;
    border-radius:3px;
    display:inline-block;
    background-color: #DC3936;
}
@media only screen and (min-width: 768px) {
    section #call,
    section #musinsa-link {
        width: 34%; /* 너비 100% 설정 */
    }
    section #price hr,
    section #price-avg hr {
        width: 68%;
    }
}

main {
    text-align:left;
}

main #graph-inf {
    
}

footer {
    text-align: center;
}

